body {
  background-color: rgb(105, 240, 105);
}

#container {
  background-color: rgb(66, 66, 183);
  color: white;
  width: bold;
  width: 600px;
  font-size: 12px;
  text-align: center;
  margin: auto;
}

pre {
  font-size: 18px;
}

label {
  font-size: 20px;
}

input {
  padding: 5px;
  font-size: 15px;
}

/* Cria o local das respostas */
#outResp1 #outResp2 {
  margin: auto;
  background-color: red;
  color: black;
  width: 300px;
  padding: 10px;
  font-size: 18px;
}

span {
  color: rgb(234, 13, 13);
}
