body {
  background-color: rgb(105, 240, 105);
}

#container {
  background-color: rgb(66, 66, 183);
  color: white;
  width: bold;
  width: 800px;
  font-size: 15px;
  text-align: center;
  margin: auto;
}

pre {
  font-size: 18px;
}

img {
  /* estiliza a imagem com: */
  float: left; /* imagem colocada ao lato esquerdo do título */
  height: 300px; /* altura 300 pixel */
  width: 300px; /* largura 300 pixel também */
}

label {
  font-size: 20px;
}

input {
  padding: 5px;
  font-size: 15px;
}

div#resposta {
  background-color: yellow;
  color: #101010;
  width: 500px;
  margin: auto;
}

/* Cria o local das respostas */
h2#outResp1 h2#outResp2 {
  margin: auto;
  width: 300px;
  padding: 10px;
  font-size: 25px;
}

h1 {
  padding: 10px;
  border-bottom-style: inset;
}

#limpar {
  margin-left: 8px;
}

#pais {
  padding: 8px;
  border-radius: 10px;
}

#btnPrincipal {
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}
